<div class="container column scheduled-transfer-list">
  <div class="row container space-between">
    <div class="full">Conta de origem</div>
    <div class="full">Conta de destino</div>
    <div class="full">Valor</div>
    <div class="full">Taxa</div>
    <div class="full">Valor com taxa</div>
    <div class="full">Dia agendado</div>
    <div class="divider"></div>
  </div>
  <ng-template ngFor [ngForOf]="operations" let-item>
    <div class="row container space-between pb2">
      <div class="full">{{ item.originAccountNumber }}</div>
      <div class="full">{{ item.destinationAccountNumber }}</div>
      <div class="full">
        {{ item.amount | currency : "BRL" : "symbol-narrow" : "2.2-2" }}
      </div>
      <div class="full">{{ item.tax }}%</div>
      <div class="full">
        {{
          (item.tax / 100) * item.amount + item.amount
            | currency : "BRL" : "symbol-narrow" : "2.2-2"
        }}
      </div>
      <div class="full">
        {{ item.scheduledOperationDate | date : "shortDate" }}
      </div>
      <div class="divider"></div>
    </div>
  </ng-template>
</div>
