<div class="container column">
  <form [formGroup]="form">
    <div class="container column">
      <label [ngClass]="'pb1'">Conta de origem</label>
      <div [ngClass]="'input'">
        <input [ngClass]="'px2 py1'" formControlName="originAccount" />
      </div>
    </div>

    <div class="container column pt2">
      <label [ngClass]="'pb1'">Conta de destino</label>
      <div [ngClass]="'input'">
        <input [ngClass]="'px2 py1'" formControlName="destinationAccount" />
      </div>
    </div>

    <div class="container column pt2">
      <label [ngClass]="'pb1'">Data de transferência</label>
      <div [ngClass]="'input'">
        <input
          [ngClass]="'px2 py1'"
          formControlName="scheduledOperationDate"
          type="date"
        />
      </div>
    </div>

    <div class="container column pt2">
      <label [ngClass]="'pb1'">Taxa de transferência</label>
      <input
          [ngClass]="'px2 py1'"
          [value]="getTransferTax()"
          disabled
        />
    </div>
  </form>
</div>
